.homepage {
  display: flex;
  flex-direction: row; /* membuat konten menyamping ke kanan pembagiannya */
}

.homepage__nav {
  flex: 0.2; /* membagi 20% size konten keseluruhan*/
}

.homepage__timeline {
  flex: 0.8; /* membagi 80% size dari konten keseluruhan */
}
